<!DOCTYPE html>
<html lang="en">
    <%- include("../partial/head")%>
<body>
    <%- include("../partial/header")%>

<main class ="product">
    <form action="/deleteProduct/<%=product.id%>?_method=delete" method="post">
    <section>
        <article>
            
            <% for(let campo in product) { %>
                <div>
                    <% if (campo != "id" && campo != "id_categoria" && campo != "id_marca" && campo != "img") { %>
                        <label for=""> <%= campo %> del producto</label>
                        <input type="text" value="<%= product[campo] %>">
                       <% } %>
                </div>
            <% } %>
            <div>
                <label for=""> Marca del producto </label>
                <select name="marca">
                    <% marca.forEach(function(marca) { %>
                      <option <%= (marca.id == product.id_marca) ? 'selected' : '' %>><%= marca.nombre %></option>
                    <% }); %>
                  </select>
            </div>
        </article>

        <article class="deleteProduct">
            <label for="imagenProducto">imagen del producto:</label>
            <picture><img src="<%= "/img/product/" + product.img%>" alt=""></picture>
        </article>

        
        
        <article class="check">
            <div>
                <h3>Categoria</h3>
                <% category.forEach(cat => {%>
                    <div>
                        <label for="<%- cat.categoria %>"><%= cat.categoria %></label>
                        <input type="radio" name="category" id="<%= cat.categoria %>" value="<%= cat.id %>" <%= (cat.id == product.id_categoria) ? 'checked' : '' %> >
                    </div>
                <%}); %> 
            </div>
          
        </article>
        
        <div class="button">
            <button type="submit">Eliminar producto</button>
        </div>
        </section>
    </main>

    <%- include("../partial/footer")%>
    
</body>
</html>