<!DOCTYPE html>
<html lang="en">
    <%- include("../partial/head")%>    
<body>
    <%- include("../partial/header")%>

    <main class="listado">

        <section class="tarjetas">
            <% if (locals.product) { %>
                <% product.forEach(p => { %>
                    <a href="productDetail/<%= p.id %>"><article>
                        <picture>
                            <img src="<%= "/img/product/" + p.img %> ">
                        </picture>
                        <div>
                            <h3><%= p.nombre %> </h3>
                            <h3>Marca: <%= p.marcas.nombre %> </h3>
                            <p> precio: <%= p.precio %> cop </p>
                            <% if (p.descuento > 0) { %>
                                <p>Descuento del <%= p.descuento %> % </p>                          
                            <% } %> 
                            <p>categoria: <%= p.categorias.categoria %></p>  
                            <p> tipo de mascota: <%= p.tipo_mascotas.tipo_mascota %></p>                     
                            <p><%= p.descripcion %> </p>
                        </div>
                    </article></a>            
                <% }) %>
            <% } else { %>
                <h3> <%= error %></h3>
            <% }%>
        </section>
        
        
    </main>

    <%- include("../partial/footer")%>
</body>
</html>