<!DOCTYPE html>
<html lang="en">
    <%- include("../partial/head")%>
    <body>
        <%- include("../partial/header")%>
    <main class ="product">
        
        <form action= <%= actions %>  method="post" enctype="multipart/form-data">
            <section>
                <article>
                    <% for(let n in box){%>
                        <% if(n != "categoria" && n != "tipo_mascota" && n != "id" && n != "img" && n != "marca") {%>
                            <div>
                                <!-- modificar para que se vea en lista desplegable el nombre de -->
                                <label for="<%=n%>"><%=n%> del producto</label>
                                <input type="text" name="<%=n%>" id="<%=n%>" value=<%if(type == "editar"){%><%= box[n] %><%}%> >
                            </div>    
                        <% } %>  
                    <% } %>
                    <!-- marcas -->
                    <div>
                        <% if (type == "crear" ) { %>
                            <label for=""> Marca del producto</label>
                            <select name="marca">
                                <% marca.forEach(cat => {%>
                                    <option><%= cat.nombre %></option>
                                    <%}); %>
                            </select>
                        <% } %>                         
                    </div> 
                </article>
                <article class="uploadImg">
                    <label for="imagenProducto">Seleccione una imagen del producto:</label>
                    <% if(type == "editar") {%>
                        <picture class="img"><img src="<%="/img/product/" + box.img%> " alt=""></picture>    
                    <% } %>
                    <input type="file" name="imagenProducto" id="imagenProducto">
                      
                </article>
                <article class="check">
                    <div>
                        <h3>Categoria</h3>
                        <% category.forEach(cat => {%>
                            <div>
                                <label for="<%- cat.categoria %>"><%= cat.categoria %></label>
                                <input type="radio" name="category" id="<%= cat.categoria %>" value="<%= cat.categoria %>" >
                            </div>
                        <%}); %> 
                    </div>
                  
                </article>
                <div>
                    <button type="submit"><%= type %> </button>
                </div>
            </section>
        </form>
    </main>
    <%- include("../partial/footer")%>
    </body>
</html>