<!DOCTYPE html>
<html lang="en">
    <%- include('../partial/head')%>
<body>
    <%- include('../partial/header')%>
    <main class="mainProducto">
        <div class="iWhatsapp">
            <i class="fa fa-whatsapp  fa-2x"></i>
        </div>
        <h2>Tu producto selecionado:</h2>
        <section class="sectionProducto">
            <h3 id="nombre"> <%= result.nombre  %> </h3>
            <picture>
                <img class="imagenProducto" id="imagen" src=<%= "/img/product/"+result.img %> >
            </picture>
            <div class="infoProducto">
                <p id="precio">$ <%= result.precio %>  </p>
                <p>
                    <select class="cuadroCant" name="cantidad" id="cantidad">
                        <option value="uno">1</option>
                        <option value="dos">2</option>
                        <option value="tres">3</option>
                        <option value="cuatro">4</option>
                        <option value="cinco">5</option>
                        <option value="seis">6</option>
                        <option value="siete">7</option>
                        <option value="ocho">8</option>
                    </select>

                </p>
                
                  
            </div>
            <div class="infoProducto">
                <p>Llega Mañana</p>
                <p class="letraNaranja">GRATIS</p>   
            </div>
            <div class="infoProducto">
                <p><% if(typeof session !== 'undefined' && session.direccion){ %>
                    <%= session.direccion %>
                    <% } else { %>
                    Inicia sesion para elegir una direccion de entrega
                    <% } %></p>
                <p><a class="letraNaranja" href="#">Cambiar</a></p>
            </div>
            <div class="infoProducto">
                <p>Calificacion del producto</p>
                <p>4.7/5⭐</p> 
            </div>
            <div class="infoProducto">
                <p>Calificacion del vendedor</p>
                <p>4.7/5⭐</p> 
            </div>
            <div class="botonesP">
                <button class="buttonP" type="submit">Comprar</button>
                <button class="buttonP2" type="submit">Agregar al carrito</button>
            </div>
            <div>
                <h3>Descripción</h3>
                <p id="desc"> <%= result.descripcion %> </p>

            </div>
            <div>
                <h3>Métodos de pago</h3>
                <p>Tarjeta de crédito y débito <i class="fa fa-credit-card"></i></p>
                <p>Ver opciones disponibles</p>
                <p>Ver tarjetas agregadas</p>
                <p>Agregar tarjetas de crédito o débito</p>
                <p>Efectivo <i class="fa fa-money"></i></p>
                <p>Ver opciones disponibles</p>
                
            </div>
            <% if (locals.session) { %>
                <% if (session.typeUser == 1) { %>
                    <form action="/deleteProduct/<%= result.id %>">
                        <button class="logOut">Borrar producto</button>
                    </form>
                    <form action="/editProduct/<%= result.id %>">
                        <button class="profileCreate">Editar producto</button>
                    </form>
                <% } %>
            <% } %>
            

        </section>
        <script src=""></script>

    </main>
    <%- include('../partial/footer')%>
    
</body>
</html>