<!doctype html>
<html>
<head>
    <%- include('../partial/head')%>
</head>
<body>    
    <header>
        <%- include('../partial/header')%>
    </header>

    <main>
        <div class="loginContainer">
            <div class="loginTitle">¡Bienvenido!</div>        
            <form class="formLogin" action="/login" method="POST">
                <!-- <label for="email"> Email </label> -->
                <% if (locals.userPassword) { %>
                 <p class="msgError"><%= locals.userPassword %></p>
                <% } %>
                <% if (locals.error && locals.error.email) { %>
                 <p class="msgError"><%=error['email'].msg %> </p>
                <% } %>
                <input class="registerInput" type="text" id="userLogin" name="email" placeholder="Email">
            
                <!-- <label for="passwordLogin"> Contraseña </label> -->
                <% if (locals.error && locals.error.passwordLogin) { %>
                    <p class="msgError"><%=error['passwordLogin'].msg %> </p>
                   <% } %>
                <input class="registerInput" type="password" id="passwordLogin" name="passwordLogin" placeholder="Ingresa tu contraseña">
                <article>
                    <input type="checkbox" name="recordarme" id="recordarme">
                    <label for="recordarme">mantener sesion activa</label>
                    
                </article>
             <button class="send" type="submit" id="buttonLogin" name="buttonLogin">Ingresar</button>
            </form>    
        </div>
    </main>
    <%- include('../partial/footer')%>
    <script src="/js/validacionLogin.js"></script>
    
</body>
</html>